<h2>Routes and lazy loads app</h2>
<h3>Menu Login</h3>
<ul>
  <li>
    <a routerLink="/auth/login">Login</a>
  </li>
  <li>
    <a routerLink="/auth/registro">Registro</a>
  </li>
  <li>
    <a routerLink="/auth/forgot">Forgot</a>
  </li>
</ul>
<h3>Menu Products</h3>
<ul>
  <li>
    <a routerLink="/productos/agregar">Agregar Products</a>
  </li>
  <li>
    <a routerLink="/productos/editar">Editar Product</a>
  </li>
  <li>
    <a routerLink="/productos/listado">listado Products</a>
  </li>
  <li>
    <a routerLink="/productos/producto">Producto</a>
  </li>
</ul>
<h3>Menu Users</h3>
<ul>
  <li>
    <a routerLink="/usuarios/nuevo">Nuevo User</a>
  </li>
  <li>
    <a routerLink="/usuarios/editar">Editar User</a>
  </li>
  <li>
    <a routerLink="/usuarios/listado">listado Users</a>
  </li>
  <li>
    <a routerLink="/usuarios/usuarios">User</a>
  </li>
</ul>

<router-outlet></router-outlet>
